.banner {
  background-color: blueviolet;
  width: 100%;
  height: 10vh;
  padding: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.navbar {
  width: 85%;
  margin: auto;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.margin-top {
  margin: 9px 0 7px;
}

  

.logo{
  width: 30px;
  cursor: pointer;
}
.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
}
 .categorias{
  width: 85%;
  background-color: aliceblue;
  text-align: center;
  color: yellow;
 }
.carregar{
  color: yellow;
}
 .carregar :hover{
   color: aliceblue;
 }
.sizeImage {
  background-color: black;
  

  padding: 20px !important;
  border-radius: 5px ;
  align-items: center;
  cursor: pointer;
  padding: 20px;


}


